.box{
    inline-size: 150px;
    border: 1px solid #333333;
    width: 350px;
    height: 100px;
    overflow-y: scroll;
    /* content: ""; */
    /* display: block; */
    width: 100px;
    height: 100px;
    background-color: rgb(231, 179, 201);
    border: 1px solid black
}

.horizontal{
    writing-mode: horizontal-tb;
    width: 150px;
}

/* Adding pseudo elements */
a:hover{
    background-color: rgb(160, 105, 212);
    font-weight: bold;
    
}

input[type="name"],
input[type="email"],
input [name="phone"]{
    border: 2px solid #000;
    margin: 0 0 1em 0;
    padding: 10px;
    width: 100%; 
}
input[type="submit"] {
    border: 3px solid #333;
    background-color: #999;
    border-radius: 5px;
    padding: 10px 2em;
    font-weight: bold;
    color: #fff;
  }

  input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #333;
  }
  